header{
    background-color: aqua;
    height: 130px;

    background-color: #4e9ffe;
    background-image: url('../img/pattern.png');
    background-size: 32%;
}

table{
    border-collapse: collapse;
}

thead{
    color: white;
    background-color: #20a8e4;
}

.main-logo{
    /* margin-top: 50px; */
    height: 70px;
}

.font-light-grey{
    color: #7f7f7f;
}

.font-light-blue{
    color: #25aae4;
}

.caption{
    font-size: .8rem;
}

.width-25{
    width: 25%;
}

.width-50{
    width: 50%;
}

.bg-light-blue{
    background-color: #b0e4f1;
}